/* Botões */
.btn-primary, .btn-secondary {
    background-color: #25D366;
    border: none;
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #177a3b;
    transform: scale(1.05);
}

.btn-primary {
    background-color: #25D366;
}

.btn-secondary {
    background-color: #333;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #555;
}

/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f1c40f;
}

/* Seção Hero */
#hero {
    background: url('img/img-hero.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

/* Cards */
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    flex: 1 1 45%; /* Flexível para se ajustar em telas menores */
}

.service-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Media queries para telas menores */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    #hero {
        padding: 60px 10px;
    }

    .service-card {
        flex: 1 1 100%; /* Ocupa toda a largura da tela */
        margin-bottom: 20px;
    }

    .btn-primary, .btn-secondary {
        font-size: 14px;
        padding: 8px 15px;
    }
}

/* Media queries para telas muito pequenas */
@media (max-width: 480px) {
    .nav-links {
        font-size: 14px;
    }

    .btn-primary, .btn-secondary {
        font-size: 12px;
        padding: 6px 10px;
    }
}
