/* Botões */
.btn-primary, .btn-secondary {
    background-color: #25D366;;
    border: none;
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #177a3b;;
    transform: scale(1.05);
}

.btn-primary {
    background-color: #25D366;;
}

.btn-secondary {
    background-color: #333;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #555;
}

/* Adicionando estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f1c40f;
}

/* Seção Hero */
#hero {
    background: url('img/img-hero.jpg') center/cover no-repeat;
    color: #ffffff;
    text-align:justify;
    padding: 90px 20px;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 2rem;
}

/* Seção de serviços */
.section-padding {
    padding: 60px 20px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33% - 40px);
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-placeholder {
    background-color: #ddd;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Testemunhos */
.testimonial {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

/* Seção de contato */
.contact-method a {
    display: inline-flex;
    align-items: center;
    background-color: #25D366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.contact-method a:hover {
    background-color: #1eb653;
}

.contact-method i {
    margin-right: 10px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Limita a largura dos cards */
    text-align: center;
}

.service-card img {
    width: 100%; /* As imagens ocupam toda a largura do card */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px; /* Adiciona bordas arredondadas */
}
